@media screen and (max-width: 767px){
div#pageContainer {
    width: 100% !important;
}
h1.plinko {
    padding-left: 0 !important
}
}
div.wof-wheel .wof-left {
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg)  !important; 
}
div.wof-wheel .wof-left {
    -webkit-transform: rotate(0deg) !important;
    transform: rotate(0deg)  !important; 
}
canvas {
    display: inline-block;
    padding: 0% 17% 34% 16%;
}
.wof-wheel.wof-theme-blue {
    background-image: url(https://cdn.rawgit.com/deepakbasnal/plinko/d8cc69f5/images/bg.svg);
    background-repeat: no-repeat;
    background-size: cover;
        background-position: right;
}
.wof-wheel.wof-theme-blue .wof-wheel-bg {
    background-image: url(../img/wheel-blue.png)
}

.wof-wheel.wof-theme-blue .wof-pointer-color {
    fill: #8BC34A
}

.wof-wheel.wof-theme-blue .wof-title em {
    color: #FFF
}
canvas#snow {
    padding: 0px !important;
    position: fixed;
    z-index: 1;
}
.wof-wheel.wof-theme-blue .wof-slice[data-slice="1"],
.wof-wheel.wof-theme-blue .wof-slice[data-slice="5"],
.wof-wheel.wof-theme-blue .wof-slice[data-slice="9"] {
    color: #225378
}

.wof-wheel.wof-theme-blue button {
    color: #ffffff;
    background: #036887;
    border: 2px solid #FFF;
}

.wof-wheel.wof-theme-blue .wof-error {
    border-color: #202020
}
canvas#lyr_canvasQlinqoMouseHit3 {
    padding: 0;
}

.wof-wheel .wof-title, .wof-wheel .wof-disclaimer, .wof-wheel .wof-explainer{
    color: #FFF
}

.wof-wheel.wof-theme-blue .wof-title em {
    color: #FFF;
}


.wof-wheel .wof-close-icon {
    top: 10px;
    right: 10px;
    background: #036887;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    padding: 8px;
}

.wof-wheels .wof-wheel{
overflow:hidden
}
.sun {
    position: relative;
    top: 110px;
    right: -250px;
    bottom: 0;
    margin: auto;
    width: 70px;
    height: 70px;
    border-radius: 50%;
background: #FFEB3B;
    opacity: 1;
    box-shadow: 0px 0px 40px 15px #ffeb3b9e;
}

.ray_box {
  position: absolute;
  margin: auto;
	top:0px;
	left:0;
	right:0;
	bottom:0;	
  width:70px;  
  -webkit-animation: ray_anim 120s linear infinite;
  animation: ray_anim 120s linear infinite;
}
.ray {  
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgb(255, 235, 59, 0.8) 50%, rgba(255,255,255,0) 100%);
		background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0) 100%); 
    margin-left:10px;
    border-radius:80% 80% 0 0;
    position:absolute;
    opacity:0.1;
}

.ray1 {    
    height:170px;
    width:30px;
   -webkit-transform: rotate(180deg);
    top:-175px;
    left: 15px;
}
.ray2 {
    height:100px;
    width:8px;
   -webkit-transform: rotate(220deg);
    top:-90px;
    left: 75px;
}
.ray3 {
    height:170px;
    width:50px;
   -webkit-transform: rotate(250deg);
    top:-80px;
    left: 100px;
}
.ray4 {
    height:120px;
    width:14px;
   -webkit-transform: rotate(305deg);
    top:30px;
    left: 100px;
}
.ray5 {
    height:140px;
    width:30px;
   -webkit-transform: rotate(-15deg);
    top:60px;
    left: 40px;
}
.ray6 {
    height:90px;
    width:50px;
   -webkit-transform: rotate(30deg);
    top:60px;
    left: -40px;
}
.ray7 {
    height:180px;
    width:10px;
   -webkit-transform: rotate(70deg);
    top:-35px;
    left: -40px;
}
.ray8 {
    height:120px;
    width:30px;
   -webkit-transform: rotate(100deg);
    top:-45px;
    left:-90px;
}
.ray9 {
    height:80px;
    width:10px;
   -webkit-transform: rotate(120deg);
    top:-65px;
    left:-60px;
}
.ray10 {
    height:190px;
    width:23px;
   -webkit-transform: rotate(150deg);
    top:-185px;
    left: -60px;
}


@-webkit-keyframes ray_anim { 
		0% { -webkit-transform: rotate(0deg); transform: rotate(0deg);}    
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg);}
}
table, td, tr, thead, tfoot, tbody, th, tf {
	table-layout:fixed;
	border-collapse: collapse;
	margin: 0px;
	padding: 0px;
	border:0;
}

a:focus, a:hover, a:active { outline:none } 

:focus {outline:none;}
::-moz-focus-inner {border:0;}

.centerdiv {
	margin-left: auto;
	margin-right: auto;
	display:block;
	    top:50px;
}

.centertext {
	width: 350px;
	height: 22px;
	text-align: center;
}
body {
  margin: 0;
  padding: 0;
}

canvas#snow{
top:0px;
}

.clouds {
  position: absolute;
}

.cloud1 {
	top: 0;
  z-index: 0;
  fill: #eee;
  /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation: move 20s linear infinite;
  -moz-animation: move 20s linear infinite;
  -o-animation: move 20s linear infinite;
  animation: move 20s linear infinite;
}

.cloud3{
	top:50;
  z-index: 0;
  fill: #eee;
  /* Animation shorthand syntax order: name, duration, timing-function, delay, iteration-count, direction, fill-mode */
  -webkit-animation: move 10s linear infinite;
  -moz-animation: move 10s linear infinite;
  -o-animation: move 10s linear infinite;
  animation: move 10s linear infinite;
}

.cloud2 {
	top: 140px;
  z-index: 0;
  fill: #eee;
  -webkit-animation: move 35s linear 10s infinite backwards;
  -moz-animation: move 35s linear 10s infinite backwards;
  -o-animation: move 35s linear 10s infinite backwards;
  animation: move 35s linear 10s infinite backwards;
}

.cloud4 {
  top: 200px;
  z-index: 0;
  fill: #eee;
  -webkit-animation: move 20s linear 10s infinite backwards;
  -moz-animation: move 20s linear 10s infinite backwards;
  -o-animation: move 20s linear 10s infinite backwards;
  animation: move 20s linear 10s infinite backwards;
}

@-webkit-keyframes move {
  from {-webkit-transform: translateX(-400px);}
  to {-webkit-transform: translateX(1000px);}
}


